// Styles pour la page "À propos"
.about {
    width: 100%;
    margin-bottom: 12%;

    // Styles pour la bannière
    &__banner {
        @media screen and (max-width: $breakpoint-desktop) {
            div {
                max-height: 311px;
                background-color: transparent;
            }

            img:first-child {
                max-height: 311px;
            }
        }
    }
}
