.container-tag {
    display: flex;
    // justify-content: space-between;
    gap: 15px;
margin-bottom: 20px;



flex-wrap: wrap; 

@media screen and (max-width: 700px) {
   padding-left: 0.5%;
   width: 90%;
   }

    &__item button{
@media screen and (max-width: 700px) {
    min-width: 84px;
   font-size: 10px;
  }
        font-size: 14px;
        all: unset; 
        background-color: $primary-color;
        color: $secondary-color;
        border-radius: 10px;
        min-width: 115px;
        height: 30px;
        padding-left: 15px;
        padding-right: 15px;
    }
}

