.collapse {
    margin: 0 auto; // Centrage du composant

    @media screen and (max-width: $breakpoint-2){
        max-width: 100%; // Utilise toute la largeur sur petits écrans
    }

    &__title {
        margin: auto;
        margin-top: 10px;
        max-width: 1023px;
        height: 47px;
        background-color: $primary-color;
        color: $secondary-color;
        border-radius: 5px; // Coins arrondis
        font-size: 24px;
        position: relative;
        padding-left: 9px;
        display: flex; // Alignement en ligne
        align-items: center; // Centré verticalement
        justify-content: space-between; // Espace entre le titre et l'icône

        @media screen and (max-width: $breakpoint-desktop) {
            font-size: 13px; // Texte réduit sur petits écrans
        }

        &__arrow {
            height: 14px;
            margin-right: 15px;
            cursor: pointer; // Change le pointeur en main
            transition: transform 0.3s ease; // Animation de rotation

            &.rotate-180 {
                transform: rotate(180deg); // Rotation de l'icône si cloquée
            }
        }
    }

    &__text {
        margin: auto;
        padding: 0 9px;
        max-height: 0;
        overflow: hidden;
        opacity: 0;
        visibility: hidden;
        max-width: 1023px;
        min-width: 40%;
        background-color: $secondary-color;
        color: $primary-color;
        border-radius: 5px;
        font-size: 24px;
        transition: max-height 0.4s ease-in-out, opacity 0.4s ease-in-out, visibility 0s linear 0.4s;
    
        @media screen and (max-width: $breakpoint-desktop) {
            font-size: 13px;
        }
         
        &.show {
            padding: 15px 9px 20px;
            max-height: 400px;
            opacity: 1;
            visibility: visible; 
            transition: max-height 0.4s ease-in-out, opacity 0.4s ease-in-out, visibility 0s linear 0s; 
        }

    }}