// Style pour le conteneur de note
.container-star {
    float: right;
    white-space: nowrap;

    @media screen and (max-width: 700px) {
        padding-top: 4%;
        padding-left: 0.5%;
    }

    // Style pour chaque étoile
    &__icon {
        padding-left: 10px;
        height: 22px;

        @media screen and (max-width: 700px) {
            height: 14px;
        }
    }
}
