// Styles pour l'en-tête
.header {
    display: flex;
    width: 100%;
    max-width: 1240px;
    margin: auto;
    justify-content: space-between;
    padding: 40px 70px;

    @media screen and (max-width: $breakpoint-desktop) {
        padding: 10px;

        .logo {
            width: 40%;
            height: auto;
            padding: 0;
        }
    }
}

// Barre de navigation principale
.nav-header {
    margin-top: 2%;
    font-size: 24px;
    text-decoration: none;
    display: flex;

    @media screen and (max-width: $breakpoint-desktop) {
        max-width: 90%;
        font-size: 17px;
    }

    // Lien actif
    &__nav-url_on {
        color: $primary-color;
        padding-left: 2rem;
        padding-top: 1em;
        text-decoration: underline;

        &:visited {
            color: $primary-color;
        }

        &:focus,
        &:hover {
            text-decoration: underline;
        }
    }

    // Lien inactif
    &__nav-url {
        color: $primary-color;
        padding-left: 2rem;
        padding-top: 1em;
        text-decoration: none;

        &:visited {
            color: $primary-color;
        }

        &:focus,
        &:hover {
            text-decoration: underline;
        }
    }
}
