.header {
    display: flex;
    max-width: 1240px;
    margin: auto;
    justify-content: space-between;
    padding: 40px 70px;
    
    @media screen and (max-width: $breakpoint-desktop) {
       
          padding: 10px;

          
    
    .logo{
       width: 40%;
       padding: 0;
       height: auto;
        }
	}
}