// Conteneur principal pour le carrousel
.container-slideshow {
  margin: auto;
  text-align: center;
  position: relative;
  width: 78%;

  @media screen and (max-width: $breakpoint-2) {
      width: 95%;
  }

  // Flèche gauche
  &__leftArrow {
      cursor: pointer;
      position: absolute;
      width: 100px;
      top: 40%;
      left: 4vw;
      z-index: 3;

      @media screen and (max-width: 600px) {
          left: 0;
      }

      img {
          height: 6vw;
      }
  }

  // Flèche droite
  &__rightArrow {
      cursor: pointer;
      position: absolute;
      width: 100px;
      top: 40%;
      right: 4vw;
      z-index: 3;

      @media screen and (max-width: 600px) {
          right: 0;
      }

      img {
          height: 6vw;
      }
  }

  // Numérotation des pages
  &__pageNumber {
      position: absolute;
      color: $secondary-color;
      left: 50%;
      bottom: 1vw;
      z-index: 3;

      @media screen and (max-width: 601px) {
          visibility: hidden;
      }
  }

  // Image du carrousel
  &__img {
      z-index: 0;
      height: 411px;
      width: 90%;
      object-fit: cover;
      border-radius: 25px;
      transition: opacity 0.5s ease;

      &.fade-in {
          animation: fadeIn 0.5s ease-in;
      }

      @media screen and (max-width: 800px) {
          height: 37vh;
          width: 99%;
      }
  }

  @keyframes fadeIn {
      0% {
          opacity: 0;
          background-color: white;
      }
      100% {
          opacity: 1;
          background-color: transparent;
      }
  }
}

// Cache les éléments inutiles si une seule image
.hide {
  visibility: hidden;
}
