// Styles pour la galerie de logements
.gallery {
  background-color: $secondary-color;
  max-width: 1240px;
  width: 95%;
  display: flex;
  flex-wrap: wrap;
  margin: auto;
  border-radius: 25px;

  @media screen and (max-width: $breakpoint-desktop) {
      width: 100%;
  }

  // Styles pour chaque item de la galerie
  &__item {
      display: flex;
      justify-content: center;
      width: 33%;
      margin: auto;

      @media screen and (max-width: 1200px) {
          width: 50%;
      }

      @media screen and (max-width: 800px) {
          width: 100%;
      }
  }
}
