// Conteneur principal pour la fiche produit
.container-produit {
  text-align: center;
  width: 100%;
  margin: auto;
  color: $primary-color;
  font-size: 18px;

  // Détails principaux
  &__details {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;

      @media screen and (min-width: 400px) {
          width: 98%;
      }
      @media screen and (min-width: 600px) {
          width: 80%;
      }
      @media screen and (min-width: 1000px) {
          width: 70%;
      }
  }

  // Sections collapsibles (description et équipements)
  &__collapse {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      width: 100%;
      gap: 3%;

      @media screen and (max-width: 700px) {
          display: block;
      }

      &___left,
      &___right {
          flex: 1 1 45%;
          max-width: 48%;
          min-width: 45%;
          box-sizing: border-box;

          &__equipments {
              height: 15px;
          }
      }
  }

  // Paragraphes
  p {
      font-size: 18px;
      margin: 0;
      text-align: left;
  }

  // Équipements
  .text-equipements {
      margin-top: 10px !important;
      padding: 0 !important;
  }
}
