@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import "./_variables";

*{
    font-family: $font-family;
    text-decoration: none;
    box-sizing: border-box;
    
    
}

html{
    width: 100%;
}
@media screen and (min-width: $breakpoint-desktop) {
    body{ 
 
    margin: auto;
}
 
}
